body {
  font-family: "Roboto", sans-serif;
  padding-bottom: 80px;
}

h2 {
  font-weight: 400;
  font-size: 1.3em;
  color: #4f4f4f;
  display: inline-block;
  cursor: default;
  user-select: none;
}
.section-container {
  margin-left: 20px;
  margin-right: 20px;
}
::selection {
  background: #cee5ff;
}

::-moz-selection {
  background: #cee5ff;
}
.hovered {
  opacity: 0.5;
}
/* HEADER */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

#title-main {
  grid-column: 1 / 2;
  color: #4f4f4f;
  font-weight: 700;
}

#title-settings {
  grid-column: 2;
  text-align: right;
  color: #e1e1e1;
  font-size: 1.4em;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
#title-settings:hover {
  color: #4f4f4f;
}
#title-settings.active {
  color: #4f4f4f;
}
/* SNAPSHOTS */
.snapshots.section-container {
  /* background-color: #f1f1f1; */
  /* padding-left: 20px; */
  /* border-radius: 4px; */
}
/* SNAPSHOTS CONTROLS */
#display-snapshots-char {
  cursor: pointer;
}
.snapshots-ctrls {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
}
.snapshot-ctrl-btn {
  padding: 4px 12px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
}
.snapshot-ctrl-btn:hover {
  background-color: #e6e6e6;
}
.add-snapshot-btn {
  color: #61c27b;
}
/* .load-snapshot-btn {
  color: #617bc2;
}
.rename-snapshot-btn {
  color: #ebeb4d;
}
.delete-snapshot-btn {
  color: #e87e64;
} */
/* SNAPSHOTS LIST */
.snapshots-list {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}
.snapshot-btn {
  background-color: #f1f1f1;
  height: 26px;
  /* max-width: 200px; */
  /* max-width: 400px; */

  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: max-width 1s ease;
}
.snapshot-btn-ctrls {
  display: inline-block;
  width: 38px;
}
input.snapshot-name {
  max-width: 100px;
}
.snapshot-btn-content {
  padding-left: 14px;
  padding-right: 8px;
  margin-bottom: 8px;
  height: 26px;
  /* width: auto; */
  overflow: hidden;
  color: #4f4f4f;
}
.snapshot-name {
  background: transparent;
  margin: 0;
  padding-top: 4px;
  /* width: 120px; */
}
.disabled {
  pointer-events: none;
}
.snapshot-btn.selected {
  /* max-width: 400px; */
  box-shadow: 0 0 4px 2px #cee5ff;
}
.snapshot-btn img {
  height: 19px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

/* PARAMETERS NO */

.parameters-no-btn {
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

/* OVERVIEW */

.overview {
}
.overview-header {
  display: flex;
  overflow: hidden;
}

#detail-title {
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  color: #4f4f4f;
  background-color: #f1f1f1;
  margin: 0;
}
.overview-zoom {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
.overview-zoom span {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: bold;
  color: #4f4f4f;
}

/* Slider input */

#overview-zoom-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin-top: 4px;
  height: 5px; /* Specified height */
  background: #cee5ff; /* background */
  outline: none; /* Remove outline */
}
#overview-zoom-slider::-webkit-progress-value {
  background-color: #4f4f4f; /* background */
  height: 5px; /* Specified height */
}
#overview-zoom-slider::-moz-range-progress {
  background: #4f4f4f; /* background */
  height: 5px; /* Specified height */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#overview-zoom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px; /* Set a specific slider handle width */
  height: 12px; /* Slider handle height */
  border-radius: 50%;
  background: #4f4f4f; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

#overview-zoom-slider::-moz-range-thumb {
  width: 12px; /* Set a specific slider handle width */
  height: 12px; /* Slider handle height */
  border-radius: 50%;
  background: #4f4f4f; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

/* Overview index */

#overview-index-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  margin-top: 4px;
  appearance: none;
  width: 100%; /* Specified height */
  height: 30px; /* Specified height */
  background: #f1f1f1; /* background */
  outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#overview-index-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 8px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 0;
  background: #4f4f4f; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

#overview-index-slider::-moz-range-thumb {
  width: 8px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 0;
  background: #4f4f4f; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

/* PARAMETERS */

.parameters-section {
  display: grid;
  grid-template-columns: 3fr 1fr 0.2fr 0.2fr;
  margin-top: 20px;
}
.parameters-slider-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  justify-content: center;
}
.parameters-header h2 {
  display: inline-block;
  margin-right: 20px;
  white-space: nowrap;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4f4f4f;
  outline: none;
}
.parameters-slider-container input[type="number"] {
  justify-self: center;
  width: 40px;
  background: none;
}
.parameters-slider-container input[type="number"]:focus {
  border: none;
}
.parameter-name {
  background-color: #f1f1f1;
  margin-right: 20px;
}
.activate-parameter img {
  width: 20px;
  padding: 8px 20px 8px 8px;
  cursor: pointer;
}
.delete-parameter {
  margin-top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.delete-parameter-cross-1 {
  top: 20px;
  height: 18px;
  width: 1px;
  margin-left: 12px;
  background-color: #4f4f4f;
  transform: rotate(45deg);
  z-index: 1;
}
.delete-parameter-cross-2 {
  height: 18px;
  width: 1px;
  background-color: #4f4f4f;
  transform: rotate(90deg);
  z-index: 2;
}

/* Parameters slider */
.parameter-slider input[type="range"] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 8px;
}
#parameter-range {
  --zoomlevel: 100%; /* Dynamic size with CSS variable */
  background: #f1f1f1;
  mix-blend-mode: multiply;
  position: relative;
  top: 8px;
  z-index: 21;
}
#parameter-value {
  background: transparent;
  position: relative;
  top: -10px;
}
#parameter-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(--zoomlevel);
  height: 8px; /* Slider handle height */
  border-radius: 0;
  background: #cee5ff; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

#parameter-range::-moz-range-thumb {
  width: var(--zoomlevel);
  height: 8px; /* Slider handle height */
  border-radius: 0;
  background: #cee5ff; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}
#parameter-value::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 6px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  border-radius: 0;
  background: #4f4f4f; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}
#parameter-value::-moz-range-thumb {
  width: 6px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  border-radius: 0;
  background: #4f4f4f; /* background */
  cursor: pointer; /* Cursor on hover */
  border: none;
}

/* Inactive parameter */

.inactive input {
  pointer-events: none;
}
.inactive #parameter-range {
  mix-blend-mode: normal;
}
.inactive #parameter-range::-webkit-slider-thumb {
  background: #d1d1d1;
}
.inactive #parameter-range::-moz-range-thumb {
  background: #f1f1f1;
}
.inactive #parameter-value::-webkit-slider-thumb {
  background: #d1d1d1;
}
.inactive #parameter-value::-moz-range-thumb {
  background: #f1f1f1;
}
.inactive input {
  color: #d1d1d1;
}

/* CANVAS */
.parameters.section-container {
  position: relative;
}
.parameter-section-list {
  z-index: 20;
  position: relative;
}
.parameters-background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
canvas {
  background-color: none;
  width: 100%;
  height: 20vh;
}

/* SETTINGS */
.settings input {
  background-color: #f1f1f1;
}
#settings-save {
  font-weight: 400;
  font-size: 1.3em;
  color: #cee5ff;
  cursor: pointer;
}
#settings-save:hover {
  color: #8fc0fa;
}

/* TRANSITIONS */
